[submodule "lib/common-app-utils"]
	path = lib/common-app-utils
	url = https://github.com/alifsemi/alif_common-app-utils.git
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/alifsemi/tinyusb.git
[submodule "lib/lwip"]
	path = lib/lwip
	url = https://github.com/lwip-tcpip/lwip.git
